[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
streamlit = "*"
pytesseract = "*"
openpyxl = "*"
pdf2image = "*"
textract = "*"

[dev-packages]

[requires]
python_version = "3.10"
